@tailwind base;
@tailwind components;
@tailwind utilities;



/* bg-[conic-gradient(at_right,_var(--tw-gradient-stops))] from-indigo-200 via-slate-600 to-indigo-200 */
*,
::after,
::before {
  margin:0 ;
  padding: 0 ;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.blue-connect');
  border-radius: 10px;
  border: 1px solid theme('colors.alt-gray');
}

body {
  background: theme('colors.navy.DEFAULT') !important;
}

  @layer components {
    .btn-connect {
        display: inline-block;
        padding: 0.2rem 0.7rem 0.2rem 0.7rem ;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        font-family: theme('fontFamily.connect');
        text-transform: uppercase;
        color: theme('colors.pink');
        background-color: theme('colors.blue-connect'); 
    }
    .btn-passive {
      display: inline-block;
      padding: 0.2rem 0.7rem 0.2rem 0.7rem ;
      font-weight: 300;
      white-space: nowrap;
      text-align: center;
      font-family: theme('fontFamily.btn');
      text-transform: uppercase;
      color: theme('colors.alt-white');
      background-color: theme('colors.navy.light'); 
    }
    .btn-action {
      display: inline-block;
      padding: 0.2rem 0.7rem 0.2rem 0.7rem ;
      font-weight: 300;
      white-space: nowrap;
      text-align: center;
      border: 1px solid theme('colors.alt-white');
      font-family: theme('fontFamily.btn');
      text-transform: uppercase;
      color: theme('colors.alt-white');
      background-color: theme('colors.pink'); 
    }
    .btn-disabled {
      display: inline-block;
      padding: .5rem 1rem;
      font-size: 2rem;
      font-weight: 600;
      white-space: nowrap;
      text-align: center;
      font-family: 'Inter', sans-serif;
      text-transform: uppercase;
      color: #ff0066;
      background-color: #f4f4f4;
      border-width: 2px;
      border-color: #ff0066;
      cursor: not-allowed;
    }
  }



@keyframes float-vertical {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateY(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translateY(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateY(0px);
	}
}

.animate-float-vertical {
  animation: float-vertical 2s ease-in-out infinite;
}



@keyframes float-vertical-noShadow {
	0% {
		
		transform: translateY(0px);
	}
	50% {
		
		transform: translateY(-15px);
	}
	100% {
		
		transform: translateY(0px);
	}
}

.animate-float-vertical-noShadow {
  animation: float-vertical-noShadow 2s ease-in-out infinite;
}


@keyframes float-horizontal {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateX(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translateX(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateX(0px);
	}
	
}

.animate-float-horizontal {
  animation: float-horizontal 2s ease-in-out infinite;
}


@keyframes float-horizontal-light {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateX(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translateX(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateX(0px);
	}
	
}

.animate-float-horizontal-light {
  animation: float-horizontal-light 2s ease-in-out infinite;
}

  

